﻿body {

    font-family: Segoe UI,SegoeUI,Segoe WP,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.container {
    width: 100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.container canvas {
    background: #fff;
    margin: 20px
}

.container input[type=text] {
    border-radius: 10px;
    font-size: 18px;
    color: black;
    padding: 5px;
    width: 150px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; /* Firefox */
}

button {
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    color: white;
    background-color: #0eb9f7;
    outline: none;
}

.container .form-item {
    margin-top: 10px;
    margin-bottom:10px;
}

h3 {
    color: green;
}

.resolved {
    padding: 10px;
}